@import "all.css";

/*CONTACT */
.line {
  font-size: 40px;
  color: #076fda;
}
label::before {
  content: ".";
  font-weight: bold;
  font-size: 30px;
  line-height: 0px;
  margin-right: 15px;
}

#contact-us div.row {
  margin-bottom: 20px;
}










  
